<div class="container">
  <div class="header-components">
    <div class="header-title">FOR WEDDING</div>
    <div class="header-buttons">
      <a routerLink="/statistics" style="color: initial;">
        <div class="header-statistic header-button" title="Statistics"><mat-icon class="header-right-icon">trending_up</mat-icon></div>
      </a>
      <a routerLink="/supplies" style="color: initial;">
        <div class="header-statistic header-button" title="Costs"><mat-icon class="header-right-icon">shopping_cart</mat-icon></div>
      </a>
      <a routerLink="/guests" style="color: initial;">
        <div class="header-list header-button" title="Invitation List"><mat-icon class="header-right-icon">assignment</mat-icon></div>
      </a>
      <div class="header-statistic header-button" title="Table Organisation"><mat-icon class="header-right-icon">airline_seat_recline_normal</mat-icon></div>
    </div>
  </div>
</div>

